.App {
  text-align: center;
}

.title {
  font-weight: bold;
  font-size: 100px;
  color: #ffffff;
  float:left;
  padding-bottom: 20px;
}

.locationTime {
  font-size: 20px;
  color: #ffffff;
  float:left;
  padding-bottom: 20px;
}

.center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height:100vh;
}
